<script id="bootstrap-current-user" type="text/javascript">
  <% if current_user %>
  	window.localStorage.setItem("currentUser", JSON.stringify( <%= User.serialize(current_user).to_json.html_safe %>))
  <% else %>
    window.localStorage.setItem("currentUser", JSON.stringify(""))
  <% end %>
</script>

<main id="root"></main>
